<div class="container">
  <div class="row tableHeader">
    <div class="col-md-2">
      <a href="/admin"><img src="/assets/images/logo.png" alt="Zombies Rising"></a>
    </div>
    <div class="col-md-10">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/game" class="whtNavText">Play Zombies Rising</a></li>
        <li role="presentation"><a href="/characters" class="whtNavText">Character Editor</a></li>

        {{#if isAdmin}}
          <li role="presentation"><a href="/users" class="whtNavText">Users Information</a></li>
        {{/if}}

        {{#unless logged_in}}
            <li role="presentation"><a href="/" class="whtNavText">Sign In</a></li>
        {{/unless}}

        {{#if logged_in}}
          <li role="presentation"><a href="/users/sign-out" class="whtNavText">Sign Out</a></li>
        {{/if}}
      </ul>
    </div>
  </div>

  <!-- Start Heroes Section -->
  <div class="row inventory tableDetails">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
      {{#if isAdmin}}
        <button data-toggle="modal" data-target="#addNew" class="btn btn-success btn-md newUserBtn">Enter New Heroes</button>
      {{/if}}
      <a href="/enemies" class="btn btn-info  btn-md">Enemies Editor</a>
    </div>
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row inventory tableDetails">
    <div class="col-md-12">
      <table id="heroes" class="display" cellspacing="0" width="100%">
          <thead>
              <tr class="tableDetails">
                  <th>Your Heroes</th>
                  <th>Cost</th>
                  <th>Hit Points</th>
                  <th>Money Maker</th>
                  <th>Money Rate</th>
                  <th>Shooter</th>
                  <th>Shooter Rate</th>
                  <th>Exploding</th>
                  <th>Damage</th>
                  <th>Edit</th>
              </tr>
          </thead>
          <tbody>
              {{#each heroes}}
                  <tr>
                      <td data-search="{{this.asset}}"><img src="http://s3.amazonaws.com/zombiesrising/{{this.asset}}" height="80" alt="{{this.plantTypes}}"></td>
                      <td data-search="{{this.cost}}">{{this.cost}}</td>
                      <td data-search="{{this.energy}}">{{this.energy}}</td>
                      <td data-search="{{this.isSunProducer}}">
                        {{#if isSunProducer}}
                          Yes
                        {{else}}
                          No
                        {{/if}}
                      </td>
                      <td data-search="{{this.sunFrequency}}">{{this.sunFrequency}}</td>
                      <td data-search="{{this.isShooter}}">
                        {{#if isShooter}}
                          Yes
                        {{else}}
                          No
                        {{/if}}
                      </td>
                      <td data-search="{{this.shootingFrequency}}">{{this.shootingFrequency}}</td>
                      <td data-search="{{this.isExploding}}">
                        {{#if isExploding}}
                          Yes
                        {{else}}
                          No
                        {{/if}}
                      </td>
                      <td data-search="{{this.damage}}">{{this.damage}}</td>
                      <td width="70" align="center">
                        <span>
                          <a href="#" data-toggle="modal" data-target="#heroes-{{this.heroesId}}"><img src="/assets/images/edit_btn.png" alt="edit"></a> 
                          <!-- <a href="#" data-toggle="modal" data-target="#delete-{{this.heroesId}}"><img src="/assets/images/delete_btn.png" alt="delete"></a> -->
                       </span>
                      </td>
                  </tr>
                  <!-- Update Modal Start -->
                  <div id="heroes-{{this.heroesId}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title whtText">Update {{this.plantTypes}} Image</h4>
                        </div>
                        <div class="modal-body">
                          <form action="heroes/updateImage/{{this.heroesId}}/{{this.plantTypes}}/{{this.cost}}/{{this.energy}}/{{this.isSunProducer}}/{{this.isShooter}}/{{this.isExploding}}/{{this.sunFrequency}}/{{this.shootingFrequency}}/{{this.damage}}" method="POST" class="form center-block" enctype="multipart/form-data">
                              <div class="form-group">
                                Character Image (max height 125px) <input type="file" id="heroes-file-input" class="form-control input-md" name="asset" accept="image/*" required>
                              </div>
                              <div class="form-group">
                                <input type="hidden" value="{{this.heroesId}}" name="heroesId">
                                <input type="hidden" value="{{this.plantTypes}}" name="plantTypes">
                                <input type="hidden" value="{{this.cost}}" name="cost">
                                <input type="hidden" value="{{this.energy}}" name="energy">
                                <input type="hidden" value="{{this.isSunProducer}}" name="isSunProducer">
                                <input type="hidden" value="{{this.isShooter}}" name="isShooter">
                                <input type="hidden" value="{{this.isExploding}}" name="isExploding">
                                <input type="hidden" value="{{this.sunFrequency}}" name="sunFrequency">
                                <input type="hidden" value="{{this.shootingFrequency}}" name="shootingFrequency">
                                <input type="hidden" value="{{this.damage}}" name="damage">
                                <button class="btn btn-success btn-lg btn-block">Update Image</button>                                    
                              </div>
                          </form>
                        </div>
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title whtText">Update {{this.plantTypes}} Features</h4>
                        </div>
                        <div class="modal-body">
                          <form action="heroes/update/{{this.heroesId}}?_method=PUT" method="POST" class="form col-md-12 center-block">
                              <div class="form-group">
                                Cost
                                <input type="range" class="form-control input-md" name="cost" id="cost" value="{{this.cost}}" min="1" max="500" oninput="costOutputId.value = cost.value">
                                <output name="costOutputName" id="costOutputId">{{this.cost}}</output>
                              </div>
                              <div class="form-group">
                                Hit Points
                                <input type="range" class="form-control input-md" name="energy" id="energy" value="{{this.energy}}" min="1" max="50" oninput="energyOutputId.value = energy.value">
                                <output name="energyOutputName" id="energyOutputId">{{this.energy}}</output>
                              </div>
                              <div class="form-group">
                                Money Maker
                                <input type="range" class="form-control input-md" name="isSunProducer" id="isSunProducer" value="{{this.isSunProducer}}" min="0" max="1" oninput="isSunProducerOutputId.value = isSunProducer.value">
                                <output name="isSunProducerOutputName" id="isSunProducerOutputId">
                                  {{#if isSunProducer}}
                                    Yes
                                  {{else}}
                                    No
                                  {{/if}}
                                </output>
                              </div>
                              <div class="form-group">
                                Money Rate
                                <input type="range" class="form-control input-md" name="sunFrequency" id="sunFrequency" value="{{this.sunFrequency}}" min="1" max="20" oninput="sunFrequencyOutputId.value = sunFrequency.value">
                                <output name="sunFrequencyOutputName" id="sunFrequencyOutputId">{{this.sunFrequency}}</output>
                              </div>
                              <div class="form-group">
                                Shooter
                                <input type="range" class="form-control input-md" name="isShooter" id="isShooter" value="{{this.isShooter}}" min="0" max="1" oninput="isShooterOutputId.value = isShooter.value">
                                <output name="isShooterOutputName" id="isShooterOutputId">
                                  {{#if isShooter}}
                                    Yes
                                  {{else}}
                                    No
                                  {{/if}}
                                </output>
                              </div>
                              <div class="form-group">
                                Shooter Rate
                                <input type="range" class="form-control input-md" name="shootingFrequency" id="shootingFrequency" value="{{this.shootingFrequency}}" min="1" max="20" oninput="shootingFrequencyOutputId.value = shootingFrequency.value">
                                <output name="shootingFrequencyOutputName" id="shootingFrequencyOutputId">{{this.shootingFrequency}}</output>
                              </div>
                              <div class="form-group">
                                Exploding
                                <input type="range" class="form-control input-md" name="isExploding" id="isExploding" value="{{this.isExploding}}" min="0" max="1" oninput="isExplodingOutputId.value = isExploding.value">
                                <output name="isExplodingOutputName" id="isExplodingOutputId">
                                  {{#if isExploding}}
                                    Yes
                                  {{else}}
                                    No
                                  {{/if}}
                                </output>
                              </div>
                              <div class="form-group">
                                Damage
                                <input type="range" class="form-control input-md" name="damage" id="damage" value="{{this.damage}}" min="1" max="100" oninput="damageOutputId.value = damage.value">
                                <output name="damageOutputName" id="damageOutputId">{{this.damage}}</output>
                              </div>
                              <div class="form-group">
                                <input type="hidden" value="{{this.asset}}" name="asset">
                                <input type="hidden" value="{{this.plantTypes}}" name="plantTypes">
                                <button class="btn btn-success btn-lg btn-block">Update</button>
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer whtText">Tool Tip: 0 = Off and 1 = On</div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Delete -->
                  <div id="delete-{{this.heroesId}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title whtText">Are you sure you want to delete {{this.plantTypes}}</h4>
                        </div>
                        <div class="modal-body">
                          <form action="heroes/delete/{{this.heroesId}}?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger btn-lg btn-block">DELETE!</button>
                          </form>
                        </div>
                        <div class="modal-footer">&nbsp;</div>
                      </div>
                    </div>
                  </div>
              {{/each}}
          </tbody>
      </table>
    </div>
    <div class="col-md-12">&nbsp;</div>
  </div>

  <!-- Modal Add New -->
  <div id="addNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title whtText">Enter New Hero</h4>
        </div>
        <div class="modal-body">
          <form action="heroes/createNewHeroes" method="POST" class="form center-block" enctype="multipart/form-data">
              <div class="form-group">
                Character Type 
                <select class="form-control input-md" value="{{this.plantTypes}}" name="plantTypes">
                  <option value="heroOne">Hero One</option>
                  <option value="heroTwo">Hero Two</option>
                  <option value="heroThree">Hero Three</option>
                  <option value="heroFour">Hero Four</option>
                  <option value="heroFive">Hero Five</option>
                  <option value="heroSix">Hero Six</option>
                  <option value="heroSeven">Hero Seven</option>
                  <option value="heroEight">Hero Eight</option>
                  <option value="heroNine">Hero Nine</option>
                  <option value="heroTen">Hero Ten</option>
                </select>
              </div>
              <div class="form-group">
                Character Image (max height 125px) <input type="file" id="newHeroes-file-input" class="form-control input-md" name="asset" accept="image/*" required>
              </div>
              <div class="form-group">
                Cost
                <input type="range" class="form-control input-md" name="cost" id="cost" value="{{this.cost}}" min="1" max="500" oninput="costOutputId.value = cost.value" required>
                <output name="costOutputName" id="costOutputId">{{this.cost}}</output>
              </div>
              <div class="form-group">
                Hit Points
                <input type="range" class="form-control input-md" name="energy" id="energy" value="{{this.energy}}" min="1" max="50" oninput="energyOutputId.value = energy.value" required>
                <output name="energyOutputName" id="energyOutputId">{{this.energy}}</output>
              </div>
              <div class="form-group">
                Money Maker
                <input type="range" class="form-control input-md" name="isSunProducer" id="isSunProducer" value="{{this.isSunProducer}}" min="0" max="1" oninput="isSunProducerOutputId.value = isSunProducer.value" required>
                <output name="isSunProducerOutputName" id="isSunProducerOutputId">{{this.isSunProducer}}</output>
              </div>
              <div class="form-group">
                Money Rate
                <input type="range" class="form-control input-md" name="sunFrequency" id="sunFrequency" value="{{this.sunFrequency}}" min="1" max="20" oninput="sunFrequencyOutputId.value = sunFrequency.value" required>
                <output name="sunFrequencyOutputName" id="sunFrequencyOutputId">{{this.sunFrequency}}</output>
              </div>
              <div class="form-group">
                Shooter
                <input type="range" class="form-control input-md" name="isShooter" id="isShooter" value="{{this.isShooter}}" min="0" max="1" oninput="isShooterOutputId.value = isShooter.value" required>
                <output name="isShooterOutputName" id="isShooterOutputId">{{this.isShooter}}</output>
              </div>
              <div class="form-group">
                Shooter Rate
                <input type="range" class="form-control input-md" name="shootingFrequency" id="shootingFrequency" value="{{this.shootingFrequency}}" min="1" max="20" oninput="shootingFrequencyOutputId.value = shootingFrequency.value" required>
                <output name="shootingFrequencyOutputName" id="shootingFrequencyOutputId">{{this.shootingFrequency}}</output>
              </div>
              <div class="form-group">
                Exploding
                <input type="range" class="form-control input-md" name="isExploding" id="isExploding" value="{{this.isExploding}}" min="0" max="1" oninput="isExplodingOutputId.value = isExploding.value" required>
                <output name="isExplodingOutputName" id="isExplodingOutputId">{{this.isExploding}}</output>
              </div>
              <div class="form-group">
                Damage
                <input type="range" class="form-control input-md" name="damage" id="damage" value="{{this.damage}}" min="1" max="100" oninput="damageOutputId.value = damage.value" required>
                <output name="damageOutputName" id="damageOutputId">{{this.damage}}</output>
              </div>
              <div class="form-group">
                <button class="btn btn-success btn-lg btn-block">Enter New Hero</button>
              </div>
          </form>
        </div>
        <div class="modal-footer">&nbsp;</div>
      </div>
    </div>
  </div>
  <!-- End Heroes Section -->
</div>
